@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./background.svg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    gap: 13rem;
    font-size: 16px;
}

.navBarContainer {
    display: flex;
    gap: 8rem;
    font-weight: 400;
    flex-wrap: wrap;
}

.navBarLinks{
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
    color: black;
}

.navBarLinks:active {
    transition: 0.2s;
    transform: translateY(5px)
}

.bodyContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.title {
    font-size: 7rem;
    text-align: center;
    color: rgba(90, 169, 230, 0.7);
    -webkit-text-stroke: 2px rgba(90, 169, 230, 1);
    font-weight: 1000;
    margin: 0;
    user-select: none;
}

.tagline {
    margin: 0;
    text-align: center;
    font-weight: 550;
}

.startButton {
    width: 16.438rem;
    height: 4.5rem;
    border-radius: 2rem;
    background-color: rgba(90, 169, 230, 0.8);
    border: none;
    color: #F9F9F9;
    font-size: 1.5rem;
    font-weight: 700;
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
}

.startButton:hover {
    background-color: rgba(90, 169, 230, 1);
    transition: 0.2s;
    transform: translateY(-5px);
}

.startButton:active {
    background-color: rgba(90, 169, 230, 1);
    transition: 0.2s;
    transform: translateY(5px)
}
