@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./bg.svg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    gap: 13rem;
    font-size: 16px;
}

.navBarContainer {
    display: flex;
    gap: 8rem;
    font-weight: 400;
    flex-wrap: wrap;
}

.navBarLinks {
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
    color: black;
}

.navBarLinks:hover {
    transition: 0.2s;
    transform: translateY(-5px)
}

.navBarLinks:active {
    transition: 0.2s;
    transform: translateY(5px)
}

.scorediv {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultsContainer{
    text-align: center;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.resultsContainer > hr{
    width: 15rem; 
    border-color: #FF6392;
}

.results-title{
   font-size: 1.5rem;
   font-weight: bold;
   color: #FF6392;
}

.btn {
    width: 10rem;
    height: 3.5rem;
    border-radius: 2rem;
    background-color: rgba(90, 169, 230, 0.8);
    border: none;
    color: #F9F9F9;
    font-size: 1.2rem;
    font-weight: 700;
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(90, 169, 230, 1);
    transition: 0.2s;
    transform: translateY(-5px);
}

.btn:active {
    background-color: rgba(90, 169, 230, 1);
    transition: 0.2s;
    transform: translateY(5px)
}

.btn2 {
    width: 10rem;
    height: 3.5rem;
    border-radius: 2rem;
    border: solid;
    border-color: rgba(90, 169, 230, 0.8);
    color: rgba(90, 169, 230, 1);
    font-size: 1.2rem;
    font-weight: 700;
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    text-decoration: none;
}

.btn2:hover {
    border-color: rgba(90, 169, 230, 1);
    transition: 0.2s;
    transform: translateY(-5px);
}

.btn2:active {
    border-color: rgba(90, 169, 230, 0.8);
    transition: 0.2s;
    transform: translateY(5px)
}