body {
    background-image: url('./background.svg');
}
.mainContainer {
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}