body {
    background-image: url('./background.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25%;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 16px;
}
.mainContainer {
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    gap: 3rem;
}
.categoryContainer {
    border: solid 1px black;
    padding-right: 10%;
    align-items: center;
    justify-content: center;

}

.difficultyContainer {
    padding: 5%;
    gap: 5%;
}
label {
    font-size: 20px;
}
input {
    cursor: pointer;
    height: 20px;
    width: 20px;
}
select {
    background-color:  rgba(90, 169, 230, 0.8);
}

.startButton {
    width: 16.438rem;
    height: 4.5rem;
    border-radius: 2rem;
    background-color: rgba(90, 169, 230, 0.8);
    border: none;
    color: #F9F9F9;
    font-size: 1.5rem;
    font-weight: 700;
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
}

.startButton:hover {
    background-color: rgba(90, 169, 230, 1);
    transition: 0.2s;
    transform: translateY(-5px);
}

.startButton:active {
    background-color: rgba(90, 169, 230, 1);
    transition: 0.2s;
    transform: translateY(5px)
}